*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Patua One', sans-serif;
}

body {
    background: #020021;
    font-family: 'Patua One';
}

li {
    list-style: none;
}

a{
    text-decoration: none;
}

.grid-container {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 4fr 1fr;
    grid-template-areas: 
    "header header"
    "main main"
    "footer footer";
    
}
   

header {
    padding: 0;
    margin: 0;
    grid-area: header;
    background-color: #020021;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 10rem;
    
}

.logo {
    display: block;
}


.main-nav {
    display: flex;
    align-items: center;
}

.main-nav li {
    display: block;
    padding: 0 1.5rem;
    font-weight: 200;
}

.main-nav li a {
    color: white;
    font-weight: 200;
}
.main-nav .signup {
    color: #00F582;
    font-weight: 200;
}

li:nth-of-type(4) {
    border-right: 2px solid white;
}


main {
    grid-area: main;
  
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
}
main h1{
    align-self: end;
    font-size: 50px;
    color:#ffffff;
    font-weight: 100;
}
main p{
    align-self: start;
    font-size: 13px;
    color: #534C6C;
}
.btn { 
    display: grid;
    margin-top: 30px;
    width: 160px;
    height: 43px;
    font-size: 14px;
    background: #00F582;
    border-radius: 40px;
    color: #FFFFFF;
    outline: none;
    border: none;
    font-weight: 600;
}
.btn:hover{
    box-shadow: 1px 1px 10px #00F582;
    font-size: 15px;
}

.presentacion-texto {
    background-color: #000020;
    padding-left: 10rem;
    padding-top: 4rem;
}
.presentacion-imagen{
    display: flex;
    padding-top: 20px;
}
    
.presentacion-imagen img{
    width: 45%;
    object-fit: contain;

    
}

footer {
    grid-area: footer;
   bottom: 0%;
    display: flex;
    justify-content: center;
    align-content: center;
    
}
.footer-div{
    justify-items: center;
    align-items: center;
    display: block;
    line-height: 25px;
    margin: 20px;
}
.titulo h3{
    color: white;
    font-size: 20px;
    font-weight: 20;
}
.titulo p{
    color: gray;
    font-size: 11px;
}
button{
    padding: 11px 15px;
    border-radius: 30px;
    font-family: 'Patua One';
    background: white;
    color: #10102C;
    margin-top: 5px;
    margin-left: 80px;
    border: none;
    outline: none;
}